@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Teko&family=Unbounded&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */

#logo {
  width: 70%;
  margin-left: 3%;
}

#logo:hover {
  width: 80%;
}

/* navbar-links */

#nav-bar {
  height: 70px;
  background: linear-gradient(35deg,rgba(48, 36, 255, .87), rgba(67, 221, 203, 1));;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  position: fixed;
  width: 98%;
  border-radius: 1%;
}

#nav-bar a {
  text-decoration: none;
}

#nav-bar ul li:hover {
  color: rgba(48, 36, 255, .87);
}

#nav-bar ul li {
  list-style-type: none;
  display: inline;
  margin: 0 20px 0 0; 
  font-family: Teko, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: white;
}

.active {
  color: rgb(48, 36, 255) !important;
}

/* home-section */

#home-image {
  width: 30%;
  margin-top: 5%;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* header-section */

#header {
  background: linear-gradient(230deg,rgba(48, 36, 255, .85), rgba(67, 221, 203, 1));
  margin: 0 1% 0 1%;
  border-radius: .7%;
}

#header > h1 {
  color: white;
  font-family: Teko, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 48px;
  padding-top: 3%;
}

#header > h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 24px;
  margin: 2% ;
}

#header > p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 1% 2% 1% 2%;
}

/* cards section */

#cards-container {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 30px 0 30px;
  gap: 30px;
  align-items: center;
}

.cards {
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  height: 420px;
  border-radius: 2%;
  margin-bottom: 55px;
}

.cards:hover {
  border: solid 1.5px black;
}

.cards > img {
  width: 250px;
  display: block;
  margin: auto;
}

#github-image {
  width: 210px;
  padding-bottom: 0;
}

#github-title {
text-align: center;
font-family: Teko;
font-size: 40px;
padding-top: 7px;
color: #000;
font-weight: bold;
}

.cards > p {
  text-align: left;
  padding: 0 5% 0 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(48, 36, 255, .85);
}

/* code learned at Web Dev simplified channel youtube */

.cut-text {
  --max-lines: 7;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.card-link {
  text-decoration: none;
  color: #000;
}

/* footer */

#footer-container {
  display: flex;
  justify-content: space-evenly;
  margin: 60px;
  font-family: Teko, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
}

#footer-container a {
  text-decoration: none;
  color: rgba(48, 36, 255, .85);
  height: 6opx;
}

#copyright {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  font-size: 20px;
  color: rgba(48, 36, 255, .85);
}

#form-header{
  font-size: 42px;
  font-family: Teko, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 2%;
  color: rgba(48, 36, 255, .85);
}

#envelope-image {
  display: block;
  margin: auto;
  width: 110px;
}

#form-container{
  display: flex;
  justify-content: center;
}

.subscribe-form {
  display: flex;
  padding: 3%;
  flex-grow: 1;
  max-width: 500px;
  flex-direction: column;
  background: linear-gradient(230deg,rgba(48, 36, 255, .85), rgba(67, 221, 203, 1));
  margin-bottom: 80px;
  border-radius: .7%;
}

#form-container label {
  margin-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #FFFFFF;
  font-size: 20px;
}

.text-input {
  height: 25px;
}

/* terms and conditions */

#terms-check-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 10px;
  gap: 10px;
}

#terms {
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --max-lines: 3;
  --line-height: 1.4;
/* Calculate how many lines is shown at the terms and conditions text "height"*/
  max-height: calc(var(--max-lines) * 2.4em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
}

/* tells whats happen when button is at expand state "not activated" */
#terms:has(+ #expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

#terms p{
  margin-top: 1em;
}

/* expand-collapse button style (the button is an html check-box so it can have two states label "expand and collapse")*/
#expand-btn {
  appearance: none;
  width: 100px;
  font-size: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin: 20px 0 0 0;
  color: #FFFFFF;
  background-color: rgba(48, 36, 255, .6);
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  cursor: pointer;
  border-radius: 5%;
}

#expand-btn:hover {
  background-color: #ffffff;
  color: rgba(48, 36, 255, 1);
}

/* two states button labels */
#expand-btn::before{
  content: "Expand";
}

#expand-btn:checked::before {
  content: "Collapse";
}

/* remove max height "collapse"  button state*/
#terms:has(+ #expand-btn:checked) {
  max-height: none;
}



.submit-button {
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 5px;
  margin: 20px 0 0 0;
  color: #FFFFFF;
  background-color: rgba(48, 36, 255, .6);
  border-radius: 5%;
}



.submit-button:hover {
  color: rgba(48, 36, 255, 1);
  background-color: #FFFFFF;
}

.text-input:hover {
  border: solid 2px rgba(48, 36, 255, 1);
}
