@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Teko&family=Unbounded&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */
.logo {
  width: 70%;
}

#nav-bar {
  height: 65px;
  background: linear-gradient(35deg,rgba(48, 36, 255, .7), rgba(67, 221, 203, 1));;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
/* navbar-links */
#nav-bar a {
  text-decoration: none;
}

#nav-bar ul li {
  list-style-type: none;
  display: inline;
  margin: 0 20px 0 0; 
  font-family: Teko;
  font-size: 30px;
  color: white;
}

/* home-section */

#home-image {
  width: 30%;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* header */

#home-header {
  background: linear-gradient(35deg,rgba(48, 36, 255, .7), rgba(67, 221, 203, 1));
  margin: 0 2% 0 2%;
}

#home-header > h1 {
  color: white;
  font-family: Teko;
  text-align: center;
  font-size: 48px;
}

#home-header > h2 {
  color: white;
  font-family: Teko;
  text-align: center;
  font-size: 24px;
}

#home-header > p {
  color: white;
  font-size: 20px;
  padding: 2%;
}

#cards-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.cards{
  background: white;
  border: 2px solid black;
  
}

.cards > img {
  width: 250px;
  display: block;
  margin: auto;
}

.cards > h4{
  text-align: center;
}
